{#

/**
 * @file
 * This is the template file for the print view of the page image.
 */
#}
{% if islandora_content is defined %}
  <div class="islandora_book_page_image">
    {{ islandora_content }}
  </div>
{% endif %}
